html
  font-size 16px
  &[pos-productos=arriba]
    font-size 20px
  scroll-behavior auto !important //desactiva el de bootstrap 5 (por defecto en smooth)


letra_grande = 1.4rem
letra_mediana = 1.2rem
letra_chica = 1.1rem

ancho_tipo_precio = 8%
// ancho_tipo_precio = 48px

[pos-productos=arriba]
  .informante-visita
    grid-template-columns 100%
  
.hdr-tr-informante
  border-top 1px solid gray

[my_w="relevamiento"]
  max-width: 1024px
  
body
  overscroll-behavior contain
  margin 0px
  input::placeholder, textarea::placeholder
    color #3f51b5
.informante-visita, .alert-dialog-blanqueos
  padding 0px
  margin 0px
  width 100%
  font-family Roboto, Arial, sans-serif
  border 0px
  grid-template-columns 33% 66%
  .caja-relpre
    display grid
    grid-template-columns 33% 66%
    .caja-producto
      margin-top 8px
      margin-bottom 8px
      width 100%
      grid-column span 1
      grid-row span 1
      display grid
      grid-template-columns 1fr 24px
      align-self start
      border-top 0.5px solid #ddd
      padding-top 8px
      .producto
        font-weight bold
        font-size letra_mediana
      .observacion
        font-weight bold
        font-size letra_mediana
      .especificacion
        grid-column span 2
        font-size letra_chica
        padding-right 6px
      .comentario-analista
        font-size 0.9rem
    .caja-precios
      display grid
      grid-template-columns 100%
      align-self start
      margin-top 8px
      margin-bottom 8px
      border-top 0.5px solid #ddd
      padding-top 8px
      font-size letra_grande
      vertical-align middle
      padding 2px
      overflow-x hidden
      overflow-wrap break-word
      div
        max-width 98%
        overflow-wrap break-word
      input
        padding-left 2px 
        width 100%
        font-size 1.4rem
      .encabezado
        padding 5px 0px 0px 0px
        display grid
        grid-template-columns 24% 9% 24% 10% 9% 24%
        .observaciones
          grid-template-columns 1fr 24px
          button
            width 75px
            &[tiene-observaciones=si]
              text-align left
              font-size 50%
              overflow hidden
              max-height 40px
              line-height normal
              justify-content flex-start
          .fakeButton
            width 60px
            color blue
            border-color 1px solid blue
            border-radius 10px
            &[tiene-observaciones=si]
              text-align left
              font-size 50%
              overflow hidden
              max-height 40px
              line-height normal
              justify-content flex-start
        .tipo-precio-anterior
          .valor-sin-boton
            padding 5px 0px
        .precio-anterior
          padding 5px
          text-align right
        .flechaTP
          button
            width 90%
        .tipo-precio
        .precio
          width 100%
          text-align right
          input::placeholder
            text-align right
            padding-right 10px
      .atributos
        word-break break-all
        button
          width 90%
        display grid
        grid-template-columns 24% 33% 10% 33%
        .nombre-atributo
          //padding-top 6px
          font-size letra_mediana
          align-self start
        .atributo-anterior
          //padding-top 6px
          align-self start
        .flechaAtributos
          align-self center
        .atributo-actual
          .MuiInputBase-multiline
            padding-bottom 0px
          .MuiInputBase-input
            padding-bottom 0px
          padding 0px
          width 100%
        div
          display table-cell
        textarea
          width 100%
          font-size letra_grande
          font-family Roboto, Arial, Helvetica, sans-serif
      button
        min-width 16px
        font-size letra_grande 
        min-height 42px
        width 100%
        margin 0px
        text-align center
      [button-container]
        padding 0px
      table-layout fixed
      grid-column span 1
      grid-row span 1
      width 100%
.hoja-ruta
  overflow-wrap anywhere
  td
    font-size letra_grande
    padding 6px
    .direccion-informante
      font-size letra_mediana
  .boton-ir-formulario
    text-align left;
    span.MuiButton-label
      text-transform none
      justify-content space-between
      span
        font-size 1.2rem
        justify-content left
        text-align left
      span.special-right
        justify-content right
.flecha-volver-hdr
  width 60px

main
  padding 75px 0

.menu-informante-visita
  .razon-formulario
    display grid
    grid-template-columns 12% 40% 48%
    font-size letra_mediana
    min-height 70px
    div
      align-self center
    .comentarios-razon
      width 100%
      input
        width 100%
  div
    &[es-repregunta=yes]
      svg
        color #3db09c
        font-size 3rem
        vertical-align middle
        width 100%
        padding-right 8%
  .MuiButton-contained.Mui-disabled
    background-color #e0e0e0
  #buscar
    .MuiInputBase-input::placeholder
      color #fff
    .MuiInputBase-input
      color #fff
  .MuiGrid-root
    margin-left 10px
  .MuiListItemIcon-root
    font-size letra_grande
  .MuiButton-root
    text-transform none

.zona-degrade
  border-top 0.5px solid #ddd
  padding-top 8px
  grid-column span 2
  *
    &:nth-child(1)
      color #777
    &:nth-child(2)
      color #888
    &:nth-child(3)
      color #999
    &:nth-child(4)
      color #aaa
    &:nth-child(5)
      color #bbb
    &:nth-child(6)
      color #ccc
    &:nth-child(7)
      color #ddd
    color #eee
  svg
    vertical-align middle

.titulo-pendientes, .titulo-advertencias
  svg
    vertical-align middle

.boton-hay-mas
  min-width 300px

.boton-seleccionado-todos svg path
  color blue

.boton-seleccionado-pendientes svg path
  color red

.boton-seleccionado-advertencias svg path
  color orange

.caja-relpre[es-positivo=maso]
  .atributo-actual
    opacity 0.5

#formulario-visita[es-positivo=no], .caja-relpre[es-positivo=no]
  .flechaTP
    opacity 0.2
  .tipo-precio
    color rgba(0,0,0,0)
  .precio, .flechaAtributos
    opacity 0
  .atributo-actual
    visibility hidden

.caja-precio-anterior-blanqueado
  display grid
  grid-template-columns 100%
  font-size 1.2rem
  .detalle-blanqueo-precio
    display grid
    grid-template-columns 25% 10% 60%
  .detalle-blanqueo-atributos
    display grid
    grid-template-columns 25% 75%

[atributo-a-m=si], [precio-a-m=si]
  text-transform uppercase
  font-weight 400 !important
  color #8a2be2 !important

.tab-counter  
  display inline-block
  position fixed
  top 0
  left 0
  z-index 9000

.tab-error
  font-weight: bold
  background-color: #FB8

.periodos-sin-informacion
  font-size 0.98rem
  font-weight bold
  margin-top 5px